<div class="quiz_cover">

  <div class="top-header">
    <div class="container">
      <img alt="" class="logo" src="{{'quiz-logo.png' | file_url }}" />
    </div>
  </div>

  <div class="progressbar">
    <div class="prgress-1" style="width:7%;"></div>
  </div>

  <div class="quiz-sec-bg" id="scroll-btn">
    <div class="container">
      {% comment %}
      <form action='https://api.maropost.com/accounts/1560/forms/7/subscribe/b3ce6fe62147a6a098ff17ce8c06550913302b41' class='full_length_box' method='post'>
      {% endcomment %}
        <form id="email_signup" class="full_length_box klaviyo_gdpr_embed_TyjeKb" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
          <input type="hidden" name="g" value="TyjeKb">
          <input type="hidden" name="$fields" value="What’s your skin type?, What are your major skin concerns you’d like to correct?[], What kind of coverage are you looking for?, Which of these skin tones is closest to yours?, Which of these images effectively represents your skin tone?, What is your undertone?, Describe you best, How do you usually apply your concealer?, What type of concealer formula do you usually use?, How often do you use concealer?, What is your age group?, email, Perfect Match">
          <input type="hidden" name="$list_fields" value="$consent">
        <div class="quiz-sec">

          <div class="question-Box step-1" data-wdth="7">
            <p class="qustn-hdng">What’s your skin type?</p>

            <div class="optionBox">
              <div class="optionbox-row single-selection">
                <div class="optBtn">
                  <input type="radio" name="What’s your skin type?" value="Dry" class="option_select_radio">
                  <label class="opt-box-txt1">Dry</label>
                </div>
              </div>

              <div class="optionbox-row single-selection">
                <div class="optBtn">
                  <input type="radio" name="What’s your skin type?" value="Oily" class="option_select_radio">
                  <label class="opt-box-txt1">Oily</label>
                </div>
              </div>

              <div class="optionbox-row single-selection">
                <div class="optBtn">
                  <input type="radio" name="What’s your skin type?" value="Normal" class="option_select_radio">
                  <label class="opt-box-txt1">Normal</label>
                </div>
              </div>

              <div class="optionbox-row single-selection">
                <div class="optBtn">
                  <input type="radio" name="What’s your skin type?" value="Combination" class="option_select_radio">
                  <label class="opt-box-txt1">Combination</label>
                </div>
              </div>
              <div class="mob-bottom">
                <p class="error-msg" style="display:none;">Please select an answer</p>
                <div class="clearall"></div>
                <a href="javascript:void(0);" class="comn-btn">Next</a>
              </div>

            </div>
          </div>

          <div class="question-Box step-2" style="display:none;" data-wdth="14">
            <p class="qustn-hdng">What are your major skin concerns you’d like to correct? <br class="forDesk">Select all that apply.</p>

            <div class="optionBox">
              <div class="optionbox-row multi-selection">
                <div class="optBtn">
                  <input type="radio" name="What are your major skin concerns you’d like to correct?[]" value="Redness" class="option_select_radio">
                  <label class="opt-box-txt1">Redness</label>
                </div>
              </div>

              <div class="optionbox-row multi-selection">
                <div class="optBtn">
                  <input type="radio" name="What are your major skin concerns you’d like to correct?[]" value="Dark spots" class="option_select_radio">
                  <label class="opt-box-txt1">Dark spots</label>
                </div>
              </div>

              <div class="optionbox-row multi-selection">
                <div class="optBtn">
                  <input type="radio" name="What are your major skin concerns you’d like to correct?[]" value="Uneven skin tone" class="option_select_radio">
                  <label class="opt-box-txt1">Uneven skin tone</label>
                </div>
              </div>

              <div class="optionbox-row multi-selection">
                <div class="optBtn">
                  <input type="radio" name="What are your major skin concerns you’d like to correct?[]" value="Dark undereyes" class="option_select_radio">
                  <label class="opt-box-txt1">Dark undereyes</label>
                </div>
              </div>

              <div class="optionbox-row multi-selection">
                <div class="optBtn">
                  <input type="radio" name="What are your major skin concerns you’d like to correct?[]" value="Fine lines & wrinkles" class="option_select_radio">
                  <label class="opt-box-txt1">Fine lines & wrinkles</label>
                </div>
              </div>

              <div class="mob-bottom">
                <p class="error-msg" style="display:none;">Please select an answer</p>
                <div class="clearall"></div>
                <a href="javascript:void(0);" class="comn-btn btn1-rgt">Next</a>
                <div class="btn-back"><img alt="" src="{{'back-arw.png' | file_url }}"> <span>Back</span></div>
              </div>
            </div>

          </div>

          <div class="question-Box step-3" style="display:none;" data-wdth="21">
            <p class="qustn-hdng">What kind of coverage are you looking for? <br class="forDesk"> Choose one.</p>

            <div class="optionBox">
              <div class="optionbox-row coverage-row single-selection">
                <div class="optBtn">
                  <input data-option="1" type="radio" name="What kind of Full face coverage are you looking for?" data-result="question_3" value="Full face coverage" class="option_select_radio">
                  <label class="opt-box-txt2"><span>Full face coverage</span><br>(for even skin tone all over)</label>
                </div>
              </div>
              
              <div class="optionbox-row coverage-row single-selection">
                <div class="optBtn">
                  <input data-option="2" type="radio" name="What kind of Spot coverage are you looking for?" data-result="question_3" value="Spot coverage" class="option_select_radio">
                  <label class="opt-box-txt2"><span>Spot coverage</span><br>(to hide dark spots, blemishes and redness)</label>
                </div>
              </div>

              <div class="optionbox-row coverage-row single-selection">
                <div class="optBtn">
                  <input data-option="3" type="radio" name="What kind of coverage are you looking for?" data-result="question_3" value="Under eye coverage" class="option_select_radio">
                  <label class="opt-box-txt2"><span>Under eye coverage</span><br>(to brighten under eyes and hide dark circles and bags)</label>
                  <p class="opt-box-txt2"></p>
                </div>
              </div>
              <div class="mob-bottom">
                <p class="error-msg" style="display:none;">Please select an answer</p>
                <div class="clearall"></div>
                <a href="javascript:void(0);" class="comn-btn btn1-rgt">Next</a>
                <div class="btn-back"><img alt="" src="{{'back-arw.png' | file_url }}"> <span>Back</span></div>
              </div>
            </div>
          </div>

          <div class="question-Box step-4" style=" display:none;" data-wdth="28">
            <p class="qustn-hdng">Which of these skin tones is closest to yours?</p>
            <div class="optionBox tones-box">
              <ul class="tones-list">
                <li class="single-selection tone-selection fair" data-name="fair">
                  <input data-option="1" type="radio" name="Which of these skin tones is closest to yours?" data-result="question_4" value="Fair" class="option_select_radio">
                  <label class="label_for_image">
                    <span class="tones-imgs">
                      <img alt="" src="{{'fair-img1.jpg' | file_url }}">
                    </span>
                    <p>Fair</p>
                  </label>
                </li>	
                <li class="single-selection tone-selection light" data-name="light">
                  <input data-option="2" type="radio" name="Which of these skin tones is closest to yours?" data-result="question_4" value="Light" class="option_select_radio">
                  <label class="label_for_image">
                    <span class="tones-imgs">
                      <img alt="" src="{{'light-img1.jpg' | file_url }}">
                    </span>
                    <p>Light</p>
                  </label>
                </li>
                <li class="single-selection tone-selection medium" data-name="medium">
                  <input data-option="3" type="radio" name="Which of these skin tones is closest to yours?" data-result="question_4" value="Medium" class="option_select_radio">
                  <label class="label_for_image">
                    <span class="tones-imgs">
                      <img alt="" src="{{'medium-img1.jpg' | file_url }}">
                    </span>
                    <p>Medium</p>
                  </label>
                </li>
                <li class="single-selection tone-selection tan" data-name="tan">
                  <input data-option="4" type="radio" name="Which of these skin tones is closest to yours?" data-result="question_4" value="Tan" class="option_select_radio">
                  <label class="label_for_image">
                    <span class="tones-imgs">
                      <img alt="" src="{{'tan-img1.jpg' | file_url }}">
                    </span>
                    <p>Tan</p>
                  </label>
                </li>
                <li class="single-selection tone-selection dark" data-name="dark">
                  <input data-option="5" type="radio" name="Which of these skin tones is closest to yours?" data-result="question_4" value="Dark" class="option_select_radio">
                  <label class="label_for_image">
                    <span class="tones-imgs">
                      <img alt="" src="{{'dark-img1.jpg' | file_url }}">
                    </span>
                    <p>Dark</p>
                  </label>
                </li> 		  
              </ul>
              <div class="mob-bottom">
                <p class="error-msg" style="display:none;">Please select an answer</p>
                <div class="clearall"></div>
                <a href="javascript:void(0);" class="comn-btn btn1-rgt">Next</a>
                <div class="btn-back"><img alt="" src="{{'back-arw.png' | file_url }}"> <span>Back</span></div>
              </div>
            </div>
          </div>

          <div class="question-Box step-5" style="display:none;" data-wdth="35">
            <p class="qustn-hdng">Which of these images effectively represents your skin tone?</p>
            <div class="optionBox tones-box2">

              <ul class="tones-list" id="fair">
                <li class="single-selection">
                  <input type="radio" name="Which of these images effectively represents your skin tone?" value="Fair Tone 1" data-result="question_5" class="option_select_radio">
                  <label class="label_for_image">
                    <span class="tones-imgs">
                      <img alt="" src="{{'fair-img1.jpg' | file_url }}">
                    </span>
                  </label>
                </li>	
                <li class="single-selection">
                  <input type="radio" name="Which of these images effectively represents your skin tone?" value="Fair Tone 2" data-result="question_5" class="option_select_radio">
                  <label class="label_for_image">
                    <span class="tones-imgs">
                      <img alt="" src="{{'fair-img2.jpg' | file_url }}">
                    </span>
                  </label>
                </li>
                <li class="single-selection">
                  <input type="radio" name="Which of these images effectively represents your skin tone?" value="Fair Tone 3" data-result="question_5" class="option_select_radio">
                  <label class="label_for_image">
                    <span class="tones-imgs">
                      <img alt="" src="{{'fair-img3.jpg' | file_url }}">
                    </span>
                  </label>
                </li>
                <li class="single-selection">
                  <input type="radio" name="Which of these images effectively represents your skin tone?" value="Fair Tone 4" data-result="question_5" class="option_select_radio">
                  <label class="label_for_image">
                    <span class="tones-imgs">
                      <img alt="" src="{{'fair-img4.jpg' | file_url }}">
                    </span>
                  </label>
                </li>		  
              </ul>

              <ul class="tones-list" id="light">
                <li class="single-selection">
                  <input type="radio" name="Which of these images effectively represents your skin tone?" value="Light Tone 1" data-result="question_5" class="option_select_radio">
                  <label class="label_for_image">
                    <span class="tones-imgs">
                      <img alt="" src="{{'light-img1.jpg' | file_url }}">
                    </span>
                  </label>
                </li>	
                <li class="single-selection">
                  <input type="radio" name="Which of these images effectively represents your skin tone?" value="Light Tone 2" data-result="question_5" class="option_select_radio">
                  <label class="label_for_image">
                    <span class="tones-imgs">
                      <img alt="" src="{{'light-img2.jpg' | file_url }}">
                    </span>
                  </label>
                </li>
                <li class="single-selection">
                  <input type="radio" name="Which of these images effectively represents your skin tone?" value="Light Tone 3" data-result="question_5" class="option_select_radio">
                  <label class="label_for_image">
                    <span class="tones-imgs">
                      <img alt="" src="{{'light-img3.jpg' | file_url }}">
                    </span>
                  </label>
                </li>
                <li class="single-selection">
                  <input type="radio" name="Which of these images effectively represents your skin tone?" value="Light Tone 4" data-result="question_5" class="option_select_radio">
                  <label class="label_for_image">
                    <span class="tones-imgs">
                      <img alt="" src="{{'light-img4.jpg' | file_url }}">
                    </span>
                  </label>
                </li>		  
              </ul>

              <ul class="tones-list" id="medium">
                <li class="single-selection">
                  <input type="radio" name="Which of these images effectively represents your skin tone?" value="Medium Tone 1" data-result="question_5" class="option_select_radio">
                  <label class="label_for_image">
                    <span class="tones-imgs">
                      <img alt="" src="{{'medium-img1.jpg' | file_url }}">
                    </span>
                  </label>
                </li>	
                <li class="single-selection">
                  <input type="radio" name="Which of these images effectively represents your skin tone?" value="Medium Tone 2" data-result="question_5" class="option_select_radio">
                  <label class="label_for_image">
                    <span class="tones-imgs">
                      <img alt="" src="{{'medium-img2.jpg' | file_url }}">
                    </span>
                  </label>
                </li>
                <li class="single-selection">
                  <input type="radio" name="Which of these images effectively represents your skin tone?" value="Medium Tone 3" data-result="question_5" class="option_select_radio">
                  <label class="label_for_image">
                    <span class="tones-imgs">
                      <img alt="" src="{{'medium-img3.jpg' | file_url }}">
                    </span>
                  </label>
                </li>
                <li class="single-selection">
                  <input type="radio" name="Which of these images effectively represents your skin tone?" value="Medium Tone 4" data-result="question_5" class="option_select_radio">
                  <label class="label_for_image">
                    <span class="tones-imgs">
                      <img alt="" src="{{'medium-img4.jpg' | file_url }}">
                    </span>
                  </label>
                </li>		  
              </ul>

              <ul class="tones-list" id="tan">
                <li class="single-selection">
                  <input type="radio" name="Which of these images effectively represents your skin tone?" value="Tan Tone 1" data-result="question_5" class="option_select_radio">
                  <label class="label_for_image">
                    <span class="tones-imgs">
                      <img alt="" src="{{'tan-img1.jpg' | file_url }}">
                    </span>
                  </label>
                </li>	
                <li class="single-selection">
                  <input type="radio" name="Which of these images effectively represents your skin tone?" value="Tan Tone 2" data-result="question_5" class="option_select_radio">
                  <label class="label_for_image">
                    <span class="tones-imgs">
                      <img alt="" src="{{'tan-img2.jpg' | file_url }}">
                    </span>
                  </label>
                </li>
                <li class="single-selection">
                  <input type="radio" name="Which of these images effectively represents your skin tone?" value="Tan Tone 3" data-result="question_5" class="option_select_radio">
                  <label class="label_for_image">
                    <span class="tones-imgs">
                      <img alt="" src="{{'tan-img3.jpg' | file_url }}">
                    </span>
                  </label>
                </li>
                <li class="single-selection">
                  <input type="radio" name="Which of these images effectively represents your skin tone?" value="Tan Tone 4" data-result="question_5" class="option_select_radio">
                  <label class="label_for_image">
                    <span class="tones-imgs">
                      <img alt="" src="{{'tan-img4.jpg' | file_url }}">
                    </span>
                  </label>
                </li>		  
              </ul>

              <ul class="tones-list" id="dark">
                <li class="single-selection">
                  <input type="radio" name="Which of these images effectively represents your skin tone?" value="Dark Tone 1" data-result="question_5" class="option_select_radio">
                  <label class="label_for_image">
                    <span class="tones-imgs">
                      <img alt="" src="{{'dark-img1.jpg' | file_url }}">
                    </span>
                  </label>
                </li>	
                <li class="single-selection">
                  <input type="radio" name="Which of these images effectively represents your skin tone?" value="Dark Tone 2" data-result="question_5" class="option_select_radio">
                  <label class="label_for_image">
                    <span class="tones-imgs">
                      <img alt="" src="{{'dark-img2.jpg' | file_url }}">
                    </span>
                  </label>
                </li>
                <li class="single-selection">
                  <input type="radio" name="Which of these images effectively represents your skin tone?" value="Dark Tone 3" data-result="question_5" class="option_select_radio">
                  <label class="label_for_image">
                    <span class="tones-imgs">
                      <img alt="" src="{{'dark-img3.jpg' | file_url }}">
                    </span>
                  </label>
                </li>
                <li class="single-selection">
                  <input type="radio" name="Which of these images effectively represents your skin tone?" value="Dark Tone 4" data-result="question_5" class="option_select_radio">
                  <label class="label_for_image">
                    <span class="tones-imgs">
                      <img alt="" src="{{'dark-img4.jpg' | file_url }}">
                    </span>
                  </label>
                </li>		  
              </ul>


              <div class="optionbox-row single-selection colorlight">
                <div class="optBtn">
                  <input data-option="question_5_lighter" type="radio" name="Which of these images effectively represents your skin tone?" value="Lighter" data-result="question_5" class="option_select_radio">
                  <label class="opt-box-txt1">None - my skin is lighter</label>
                </div>
              </div>

              <div class="optionbox-row single-selection colordark">
                <div class="optBtn">
                  <input data-option="question_5_darker" type="radio" name="Which of these images effectively represents your skin tone?" value="Darker" data-result="question_5" class="option_select_radio">
                  <label class="opt-box-txt1">None - my skin is darker</label>
                </div>
              </div>


              <div class="clearall"></div>
              <div class="mob-bottom">
                <p class="error-msg" style="display:none;">Please select an answer</p>
                <div class="clearall"></div>
                <a href="javascript:void(0);" class="comn-btn1 btn1-rgt">Next</a>
                <div class="btn-back"><img alt="" src="{{'back-arw.png' | file_url }}"> <span>Back</span></div>
              </div>
            </div>    
          </div>

          <div class="question-Box step-6" style="display:none;" data-wdth="42">
            <p class="qustn-hdng">What is your undertone?</p>

            <div class="optionBox">
              <div class="optionbox-row coverage-row single-selection">
                <div class="optBtn">
                  <input type="radio" name="What is your undertone?" value="Cool/rosy" class="option_select_radio">
                  <label class="opt-box-txt2 get-popup1"><span>Cool/Rosy:</span><br>Your undertone has hints of pink/red and/or blue.</label>
                </div>
              </div>

              <div class="optionbox-row coverage-row single-selection">
                <div class="optBtn">
                  <input type="radio" name="What is your undertone?" value="Warm/golden" class="option_select_radio">
                  <label class="opt-box-txt2 get-popup2"><span>Warm/Golden:</span><br>Your skin has underlying colors of peach, yellow and/or gold.</label>
                </div>
              </div>

              <div class="optionbox-row coverage-row single-selection">
                <div class="optBtn">
                  <input type="radio" name="What is your undertone?" value="Neutral" class="option_select_radio">
                  <label class="opt-box-txt2 get-popup3"><span>Neutral:</span><br>There’s a mixture or balance of both golden and rosy tones.</label>
                </div>
              </div>

              <div class="optionbox-row  single-selection nextSelection">
                <div class="optBtn">
                  <input type="radio" name="What is your undertone?" value="Unsure" class="option_select_radio">
                  <label class="opt-box-txt2"><span class="fw-mdm">I’m unsure - walk me through it </span></label>
                </div>
              </div>

              <div class="mob-bottom">
                <p class="error-msg" style="display:none;">Please select an answer</p>
                <div class="clearall"></div>
                <a href="javascript:void(0);" class="comn-btn btn1-rgt">Next</a>
                <div class="btn-back"><img alt="" src="{{'back-arw.png' | file_url }}"> <span>Back</span></div>
              </div>

              <div class="pop-body" id="cool-popup" style="display:none;">
                <div class="pop-mid">
                  <div class="popBox">
                    <p class="qustn-hdng">You selected cool/rosy. <br class="forMob">This means:</p>
                    <ul class="pop-list">
                      <li>The veins on the inside of your wrist are blue/purple.</li>
                      <li>You rarely tan, but you burn fairly easily.
                      </li>
                      <li>You look best in white gold, silver and platinum jewelry. </li>
                    </ul>
                    <p class="pop-ques-txt">Is that you?</p>
                    <div class="pop-ques-btn">
                      <a href="javascript:void(0);" class="pop-comn-btn pop-nextBtn">Yes</a>
                      <a href="javascript:void(0);" class="pop-comn-btn pop-comn-btn2 closePop">No</a>	
                    </div>
                  </div>
                </div>
              </div>

              <div class="pop-body" id="warm-popup" style="display:none;">
                <div class="pop-mid">
                  <div class="popBox">
                    <p class="qustn-hdng">You selected warm/golden. This means:</p>
                    <ul class="pop-list">
                      <li>The veins on the inside of your wrist are green/olive.</li>
                      <li>You tan easily and rarely burn.</li>
                      <li>You look best in yellow gold, rose gold and copper jewelry. </li>
                    </ul>
                    <p class="pop-ques-txt">Is that you?</p>
                    <div class="pop-ques-btn">
                      <a href="javascript:void(0);" class="pop-comn-btn pop-nextBtn">Yes</a>
                      <a href="javascript:void(0);" class="pop-comn-btn pop-comn-btn2 closePop">No</a>	
                    </div>
                  </div>
                </div>
              </div>

              <div class="pop-body" id="neutral-popup" style="display:none;">
                <div class="pop-mid">
                  <div class="popBox">
                    <p class="qustn-hdng">You selected neutral. <br class="forMob">This means:</p>
                    <ul class="pop-list">
                      <li>The veins on the inside of your wrist are blue/green.</li>
                      <li>You sometimes tan, but you sometimes burn, too.
                      </li>
                      <li>You look great in white gold AND yellow gold jewelry.</li>
                    </ul>
                    <p class="pop-ques-txt">Is that you?</p>
                    <div class="pop-ques-btn">
                      <a href="javascript:void(0);" class="pop-comn-btn pop-nextBtn">Yes</a>
                      <a href="javascript:void(0);" class="pop-comn-btn pop-comn-btn2 closePop">No</a>	
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="question-Box" data-wdth="42" style="display:none;">
            <p class="qustn-hdng">Which paragraph <br class="forMob">describes you best?</p>

            <div class="optionBox colorOption">

              <div class="color-boxList">
                <div class="boxList-col">
                  <img alt="" src="{{'cool-img.png' | file_url }}" class="boxList-col-img">
                  <ul>
                    <li>The veins on the inside of my wrist are blue/purple.</li>
                    <li>I rarely tan, but I burn fairly easily.</li>
                    <li>I look best in white gold, silver and platinum jewelry. </li>
                  </ul>
                  <a href="javascript:void(0);" class="comn-btn novalidate">I’m COOL</a>
                  <input name="Describe you best" value="I’m COOL" type="radio" style="display:none;" data-question="describe-best" class="option_select_radio">
                </div>
                <div class="boxList-col">
                  <img alt="" src="{{'warm-img.png' | file_url }}" class="boxList-col-img">
                  <ul>
                    <li>The veins on the inside of my wrist are green/olive.</li>
                    <li>I tan easily and rarely burn.</li>
                    <li>I look best in yellow gold, rose gold and copper jewelry.</li>
                  </ul>
                  <a href="javascript:void(0);" class="comn-btn novalidate">I’m WARM</a>
                  <input name="Describe you best" value="I’m WARM" type="radio" style="display:none;" data-question="describe-best" class="option_select_radio">
                </div>
                <div class="boxList-col">
                  <img alt="" src="{{'neutral.png' | file_url }}" class="boxList-col-img">
                  <ul>
                    <li>The veins on the inside of my wrist are blue/green.</li>
                    <li>I sometimes tan, but I sometimes burn, too.</li>
                    <li>I look great in white gold AND yellow gold jewelry. </li>
                  </ul>
                  <a href="javascript:void(0);" class="comn-btn novalidate">I’m NEUTRAL</a>
                  <input name="Describe you best" value="I’m NEUTRAL" type="radio" style="display:none;" data-question="describe-best" class="option_select_radio">
                </div>
              </div>

              <div class="btn-back single"><img alt="" src="{{'back-arw.png' | file_url }}"> <span>Back</span></div>

            </div>
          </div>

          <div class="question-Box step-7" style="display:none;" data-wdth="49">
            <div class="optionBox tones-box">
              <p class="qustn-hdng2">Get excited - we have the PERFECT match for you!</p>
              <p class="qustn-para1">We just have a few more questions.</p>

              <div class="mob-bottom">
                <a href="javascript:void(0);" class="comn-btn novalidate btn1-rgt">Next</a>
                <div class="btn-back"><img alt="" src="{{'back-arw.png' | file_url }}"> <span>Back</span></div>
              </div>
            </div>
          </div> 

          <div class="question-Box step-8" style="display:none;" data-wdth="56">
            <p class="qustn-hdng">How do you usually <br class="forMob">apply your concealer?</p>
            <div class="optionBox apply-box">

              <ul class="tones-list">
                <li class="single-selection">
                  <input type="radio" name="How do you usually apply your concealer?" value="Brush" data-result="question_8" class="option_select_radio">
                  <label class="label_for_image">
                    <span class="tones-imgs">
                      <img alt="" src="{{'apply-img1.jpg' | file_url }}">
                    </span>
                    <p>Brush</p>
                  </label>  
                </li>	
                <li class="single-selection">
                  <input type="radio" name="How do you usually apply your concealer?" value="Makeup sponge/blender" data-result="question_8" class="option_select_radio">
                  <label class="label_for_image">
                    <span class="tones-imgs">
                      <img alt="" src="{{'apply-img2.jpg' | file_url }}">
                    </span>
                   <!-- <p>Makeup sponge/blender</p> -->
                    <p>Blender</p>
                  </label>
                </li>
                <li class="single-selection">
                  <input type="radio" name="How do you usually apply your concealer?" value="Fingers" data-result="question_8" class="option_select_radio">
                  <label class="label_for_image">
                    <span class="tones-imgs">
                      <img alt="" src="{{'apply-img3.jpg' | file_url }}">
                    </span>
                    <p>Fingers</p>
                  </label>
                </li>	  
              </ul>

              <div class="clearall"></div>
              <div class="mob-bottom">
                <p class="error-msg" style="display:none;">Please select an answer</p>
                <div class="clearall"></div>
                <a href="javascript:void(0);" class="comn-btn btn1-rgt">Next</a>
                <div class="btn-back"><img alt="" src="{{'back-arw.png' | file_url }}"> <span>Back</span></div>
              </div>
            </div>    
          </div>

          <div class="question-Box step-9" style="display:none;" data-wdth="63">
            <p class="qustn-hdng">What type of concealer formula do you usually use?</p>

            <div class="optionBox">

              <div class="optionbox-row single-selection">
                <div class="optBtn">
                  <input type="radio" name="What type of concealer formula do you usually use?" value="Liquid" class="option_select_radio">
                  <label class="opt-box-txt1">Liquid</label>
                </div>
              </div>

              <div class="optionbox-row single-selection">
                <div class="optBtn">
                  <input type="radio" name="What type of concealer formula do you usually use?" value="Cream" class="option_select_radio">
                  <label class="opt-box-txt1">Cream</label>
                </div>
              </div>

              <div class="optionbox-row single-selection">
                <div class="optBtn">
                  <input type="radio" name="What type of concealer formula do you usually use?" value="Stick" class="option_select_radio">
                  <label class="opt-box-txt1">Stick</label>
                </div>
              </div>

              <div class="mob-bottom">
                <p class="error-msg" style="display:none;">Please select an answer</p>
                <div class="clearall"></div>
                <a href="javascript:void(0);" class="comn-btn btn1-rgt">Next</a>
                <div class="btn-back"><img alt="" src="{{'back-arw.png' | file_url }}"> <span>Back</span></div>
              </div>

            </div>
          </div>

          <div class="question-Box step-10" style="display:none;" data-wdth="70">
            <p class="qustn-hdng">How often do you use concealer?</p>

            <div class="optionBox">

              <div class="optionbox-row single-selection">
                <div class="optBtn">
                  <input type="radio" name="How often do you use concealer?" value="Every day" class="option_select_radio">
                  <label class="opt-box-txt1">Every day</label>
                </div>
              </div>

              <div class="optionbox-row single-selection">
                <div class="optBtn">
                  <input type="radio" name="How often do you use concealer?" value="A few times per week" class="option_select_radio">
                  <label class="opt-box-txt1">A few times per week</label>
                </div>
              </div>

              <div class="optionbox-row single-selection">
                <div class="optBtn">
                  <input type="radio" name="How often do you use concealer?" value="Weekends only" class="option_select_radio">
                  <label class="opt-box-txt1">Weekends only</label>
                </div>
              </div>

              <div class="optionbox-row single-selection">
                <div class="optBtn">
                  <input type="radio" name="How often do you use concealer?" value="Special occasions" class="option_select_radio">
                  <label class="opt-box-txt1">Special occasions</label>
                </div>
              </div>

              <div class="mob-bottom">
                <p class="error-msg" style="display:none;">Please select an answer</p>
                <div class="clearall"></div>
                <a href="javascript:void(0);" class="comn-btn btn1-rgt">Next</a>
                <div class="btn-back"><img alt="" src="{{'back-arw.png' | file_url }}"> <span>Back</span></div>
              </div>

            </div>
          </div>

          <div class="question-Box step-11" style="display:none;" data-wdth="77">
            <p class="qustn-hdng">What is your age group?</p>
            <span>As a pro-age company, this information helps us serve you better</span>
            <div class="optionBox">

              <div class="optionbox-row single-selection">
                <div class="optBtn">
                  <input type="radio" name="What is your age group?" value="Under 40" class="option_select_radio">
                  <label class="opt-box-txt1">Under 40</label>
                </div>
              </div>

              <div class="optionbox-row single-selection">
                <div class="optBtn">
                  <input type="radio" name="What is your age group?" value="40 - 49" class="option_select_radio">
                  <label class="opt-box-txt1">40 - 49</label>
                </div>
              </div>

              <div class="optionbox-row single-selection">
                <div class="optBtn">
                  <input type="radio" name="What is your age group?" value="50 - 59" class="option_select_radio">
                  <label class="opt-box-txt1">50 - 59</label>
                </div>
              </div>

              <div class="optionbox-row single-selection">
                <div class="optBtn">
                  <input type="radio" name="What is your age group?" value="60 or over" class="option_select_radio">
                  <label class="opt-box-txt1">60 or over</label>
                </div>
              </div>

              <div class="mob-bottom">
                <p class="error-msg" style="display:none;">Please select an answer</p>
                <div class="clearall"></div>
                <a href="javascript:void(0);" class="comn-btn btn1-rgt">Next</a>
                <div class="btn-back"><img alt="" src="{{'back-arw.png' | file_url }}"> <span>Back</span></div>
              </div>

            </div>
          </div>

          <div class="question-Box step-12" style="display:none;" data-wdth="84">
            <p class="qustn-hdng">Creating your personalized recommendation</p>

            <div class="optionBox">
              <div class="progress-bar">
                <div id="analyzeProgress" class="progress-amt" style="width:1%;"></div>
                <span class="progVal"></span>
              </div>
              <div class="qustn-testi">
                <img alt="" src="{{'star.png' | file_url }}" alt="" class="testi-star">
                <p class="testi-para">This is magic. I don’t know how or why but it takes my skin back 20 years. Beautiful, complete smooth coverage without looking thick.</p>
                <div class="clearall"></div>
                <img alt="" src="{{'testi-pic.jpg' | file_url }}" alt="" class="testi-pic">
                <p class="testi-para testi-nm">- Robyn</p>
              </div>

              <div class="mob-bottom">
                <a href="javascript:void(0);" class="comn-btn btn1-rgt progressBtn novalidate" style="display:none;">Next</a>
                <div class="btn-back"><img alt="" src="{{'back-arw.png' | file_url }}"> <span>Back</span></div>
              </div>

            </div>
          </div>

          <div class="question-Box step-13" style="display:none;" data-wdth="96">
            <p class="qustn-hdng">Ready for your results?</p>
           <input type="hidden" value="" name="Perfect Match" class="quiz_result_variant">
            <div class="optionBox">
			
              <div class="multi-selection">
                <p class="mail-txt">Just enter your email to get your personalized shade recommendation!</p>
                <input include_blank="true" class="mail-field" start_year="1950" placeholder="Enter your email here" type="email" name="email" required id="contact_fields_email" />
                
              </div>
              
              <div class="mob-bottom">
                <p class="error_msg" style="display:none;">Enter your email above</p>
                <P class="success_msg" style="display: none;">Your Mail Sent Successfully !</P>
                <button type="submit" class="submit-btn btn1-rgt btn_final">Next</button>
                <div class="btn-back"><img alt="" src="{{'back-arw.png' | file_url }}"> <span>Back</span></div>
              </div>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div> 
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
<script type="text/javascript">
  KlaviyoSubscribe.attachToForms('#email_signup', {
    hide_form_on_success: true,
    extra_properties: {
      $source: '$embed',
      $method_type: "Klaviyo Form",
      $method_id: 'embed',
      $consent_version: 'Embed default text'
    }
  });
  
  function isEmail(email) {
    var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    return regex.test(email);
  }
  
  $(document).ready(function() {
    $(document).on('click', '.btn_final', function(){
      
      var cookie = getCookie('quiz-result');
      //console.log(cookie);

      var d = JSON.parse(cookie);
      var shade_name = d.shade;
      var shade_name_new = shade_name.replace(/ /g,"-");
      //console.log(shade_name_new);
      if($('.mail-field').val() != '' && isEmail($('.mail-field').val())){
        setTimeout(function(){
          $('.success_msg').show();
          $('.error_msg').hide();
         window.location.href = '/pages/quiz-result/'+shade_name_new.toLowerCase()+'';
        },3000);
      }
      else{
        if($('.mail-field').val() == ''){
          $('.error_msg').show();
        }
        else if($('.mail-field').val() != '' && !isEmail($('.mail-field').val())){
        $('.error_msg').show();
         $('.error_msg').html('please enter valid email address');
        }
        return false;
      }
    });
  });
</script>