<div class="s3-bar">
  <div class="container">
    <div class="bar-lft hide-mob">
      
      <div class="bar-img lazy" {%- if section.settings.background_image != blank -%} style="background:url({{ section.settings.background_image | img_url: 'master' }}) no-repeat" {%- endif -%}></div>
      
      {%- if section.settings.desktop_image != blank -%}
      <img data-src="{{ section.settings.desktop_image | img_url: '450X' }}" alt="" loading="lazy" class="lazy bar-prd">
      {%- endif -%}
      
    </div>
    <div class="bar-rgt">
      
      {% if section.settings.title != blank %}
      <p class="comn-hdg">{{ section.settings.title }}</p>
      {% endif %}
      
      {% assign prohandle = section.settings.button_link | split: "products/" %}
      
      {% assign custom_product = all_products[prohandle[1]] %}
      
      <div class="s3-btm-tx3 bundle-price price-item--regular">
        <span class="price">{{ custom_product.price | money }}</span>
        {% if custom_product.compare_at_price_min > custom_product.price %}
	        <span class="price"><s>{{ custom_product.compare_at_price_min | money }}</s></span>
        {% endif %}
      </div>
      
      {% if section.settings.sub_title != blank %}
      <p class="comn-txt">{{ section.settings.sub_title }}</p>
      {% endif %}
      
      <div class="bar-lft hide-desk">
        {%- if section.settings.mobile_image != blank -%}
        <img data-src="{{ section.settings.mobile_image | img_url: '450X' }}" alt="" loading="lazy" class="lazy bar-prd-mob">
        {%- endif -%}
      </div>
      
      {% if section.settings.content != blank %}
      	{{ section.settings.content }}
      {% endif %}
      
      {% if section.settings.button_title != blank and section.settings.button_link != blank %}
      	<a href="{{ section.settings.button_link }}" class="comn-btn">{{ section.settings.button_title }}</a>
      {% endif %}      
      
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Bundle Product",
  "class": "bundle-product-section--full-width",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
	{
      "type": "textarea",
      "id": "sub_title",
      "label": "Sub Title"
    },
	{
      "type": "html",
      "id": "content",
      "label": "Content"
    },
	{
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
	{
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
	{
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
	{
      "type": "text",
      "id": "button_title",
      "label": "Button Title"
    },
	{
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Bundle Product"      
    }
  ]
}
{% endschema %}