{% comment %}theme-check-disable TemplateLength{% endcomment %}
{%- assign page_url = content_for_header | split:'"pageurl":"' | last | split:'"' | first | split: request.host | last | replace:'\/','/' | replace:'%20',' ' | replace:'\u0026','&'  -%}
{% assign ab_test_target = page_url | split:'/' |  last %}
{% assign preSelectedVariant = '' %}
<!-- Test Against: {{ ab_test_target }} -->
{% comment %}Do we have querystring{% endcomment %}
{% if ab_test_target contains "?" %}
	{% assign ab_test_target_array = ab_test_target | split: '?' %}
	{% capture ab_test_target %}{{ ab_test_target_array[0] }}{% endcapture %}
	{%  comment %}We may have query string{% endcomment %}
	{% assign preSelectedVariantArray = ab_test_target_array[1] | split: '&' %}
	{% for queryString in preSelectedVariantArray -%}
		{% assign qsData = queryString |  split: '=' %}
		{% if qsData[0] == 'variant' %}
			{% assign preSelectedVariant = qsData[1] | times: 1 %}
		{% endif %}
	{%- endfor %}
{% endif %}
{% comment %} Global Variables Declaration {% endcomment %}
{% assign bundle_status = 0 %}
{% assign btn_title = 'Add To Cart' %}
{% assign popup_btn_title = 'UPGRADE TO SAVE' %}
{% assign widget_version = 'upsell-widget-' | append: ab_test_target %}
{% comment %} Dynamic seelct the test suite {% endcomment %}
{% if widget_version == 'upsell-widget-fiera-luxury-concealer' %}
  {% capture widget_version %}upsell-widget-control{% endcapture %}
{% endif %}
{% if widget_version == 'upsell-widget-email-ac-pdp' %}
  {% capture widget_version %}upsell-widget-control{% endcapture %}
{% endif %}
{% capture widget_version %}upsell-widget-v1{% endcapture %}
<!-- Target: {{ widget_version }} -->
{% assign default_variant_selection = 42482110234854 %}
{% if preSelectedVariant != '' %}
{% assign default_variant_selection = preSelectedVariant %}
{% endif %}
<!-- Preselected Default: {{ preSelectedVariant }} -->
<!-- Current Default: {{ default_variant_selection }} -->

<link rel="preload" as="style" href="{{ 'section-main-product.css' | asset_url }}">
<link rel="preload" as="style" href="{{ 'component-accordion.css' | asset_url }}">
<link rel="preload" as="style" href="{{ 'component-price.css' | asset_url }}">
<link rel="preload" as="style" href="{{ 'component-rte.css' | asset_url }}">
<link rel="preload" as="style" href="{{ 'component-slider.css' | asset_url }}">
<link rel="preload" as="style" href="{{ 'new-product.css' | asset_url }}">
<link rel="preload" as="style" href="{{ 'apple-cream-style.css' | asset_url }}">
<link rel="preload" as="style" href="{{ 'new-pdp-slick.css' | asset_url }}">

<link rel="preload" as="style" href="{{ 'component-deferred-media.css' | asset_url }}">

<link rel="preload" as="script" href="{{ 'product-form.js' | asset_url }}">

{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'new-product.css' | asset_url | stylesheet_tag }}
{{ 'prdct-template-apple-cream.css' | asset_url | stylesheet_tag }}
{{ 'apple-cream-style.css' | asset_url | stylesheet_tag }}
{{ 'new-pdp-slick.css' | asset_url | stylesheet_tag }}

{{ 'header-fix.css' | asset_url | stylesheet_tag }}

{% comment %}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{% endcomment %}
<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<script src="{{ 'bookmarkscroll.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'imagesloaded.pkgd.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'jquery.event.move.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'jquery.twentytwenty.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'slick2.js' | asset_url }}" defer="defer"></script>

<style>

    .btn-green.concealer-disabled {
        background: #dadbda!important;
        cursor: no-drop;
    }  a.addTocut-btn-popup.pop-open.btn-green  { background:#50624a !important; border-color: #50624a !important}
</style>

{%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
{%- if first_3d_model -%}
  {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
  <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
  <link id="ModelViewerOverride" rel="stylesheet" href="{{ 'component-model-viewer-ui.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

{% assign wistia_video_status = 0 %}
{% if product.metafields.my_fields.wistia_video_id_1 != blank or product.metafields.my_fields.wistia_video_id_2 != blank %}
  {% assign wistia_video_status = 1 %}
{% endif %}
<script type="text/javascript" src="https://stage2.cappedoutmedia.com/lb/fiera_maropost/concealer-v2/assets/v2/js/jquery-1.12.4.min.js"></script>

<!-- Price Update function -->
<script type="text/javascript">
  $(document).ready(function() {
    $('.package-box').click(function(){
      var elm = $(this);
      $('.package-box').removeClass('active');
      elm.addClass('active');

      if(elm.hasClass('active')) {
        var price = '';

        // KL: Check to see if we have price element
        if (elm.find('.rglr-prc').length > 0) {
          price = elm.find('.rglr-prc')[0].innerText;
        } else {
          price = elm.find('.pkg-bottle').attr("data-price");
        }

        if (typeof price != 'undefined') {
          $('.bnr-pricing')[0].innerHTML = ' ' + price + "";
        }

        if (elm.attr('id') === 'buy3') {
          $('#slct-pkg li').addClass('isDisabled');
          $('#slct-multi-pkg').show();
        } else {
          $('#slct-pkg li').removeClass('isDisabled');
          $('div.product-form__error-message-wrapper').attr('hidden', 'hidden');
          $('#slct-multi-pkg').hide();
        }
      }
    });

    // KL: Make sure we had the price updated
    $('.package-box').each(function(){
      var elm = $(this);
      if(elm.hasClass('active')) {
        $('.bnr-pricing').css("display", "block");
        elm.click();
      }
    });

    $('select.bundle-options-selector').change(function(){
      var elm = $(this);
      if (elm.find(":selected")) {
        var triggerElm = elm.find(":selected");
        var price = '';

        // KL: Check to see if we have price element
        price = triggerElm.attr("data-price");

        if (typeof price != 'undefined') {
          $('.bnr-pricing')[0].innerHTML = ' ' + price + "";
        }

        if (triggerElm.val() === 'buy3') {
          $('#slct-pkg li').addClass('isDisabled');
          $('#slct-multi-pkg').show();
        } else {
          $('#slct-pkg li').removeClass('isDisabled');
          $('div.product-form__error-message-wrapper').attr('hidden', 'hidden');
          $('#slct-multi-pkg').hide();
        }

      }
    });

    // KL: Make sure we had the price updated
    $('select.bundle-options-selector').each(function(){
      var elm = $(this);
      if(elm.find(":selected")) {
        $('.bnr-pricing').css("display", "block");
        elm.change();
      }
    });

    // KL: Watch the options for bundles
    $('select.bundle-variants').change(function(){
      var elm = $(this);
      if (elm.val().length > 0) {
        elm.removeClass('error');
      }

      // Check to see if we can hide the error for now
      if ($('select.bundle-variants.error').length == 0) {
        $('div.product-form__error-message-wrapper').attr('hidden', 'hidden');
      }

      // Update the color of the dropdown
      elm.removeClass('Light');
      elm.removeClass('Beige');
      elm.removeClass('Medium');
      elm.removeClass('Deep');
      elm.removeClass('Dark');
      if (elm.val().length > 0) {
        elm.addClass(elm.find(':selected').text());
      }
    });

  });

</script>
<!-- Price Update function -->

<script type="text/javascript">
  $(document).ready(function(){
    progress();
  });

  function progress() {
    var elem = document.getElementById("progress");
    var width = 1;
    var id = setInterval(frame, 60);

    function frame() {
      if (width >= 100) {
        clearInterval(id);
        progress();
      } else {
        width++;
        // elem.style.width = width + '%';
      }

      var ditm = ".s5-col[data-active='" + width + "']";
      //console.log(ditm);
      if($(ditm).length == 1) {
        $('.s5-col').removeClass('active');
        $(ditm).addClass('active');
      } else{
        $(ditm).removeClass('active');
      }
    }
  }

</script>

<div class="bannar-sec" id="bannar-sec">
  <div class="container">
    <div class="prd-det-s1-inr">
      <!-- Left Content -->
      <div class="bnr-left prd-det-s1-lft">

        <!-- Media Gallery -->
        <div class="slide-div">

          {%- for media in product.media -%}
            <div>
              <img src="{{ media | img_url: '800x' }}" loading="lazy" class="lazy prd-slide" id="thumb_img" alt="img">
            </div>
            {% if forloop.index != 2 %}{% endif %}
          {%- endfor -%}

          {% if product.metafields.my_fields.wistia_video_id_1 != blank %}
            <div>
              <div style="padding:11px 76px;">
                <script src="https://fast.wistia.com/embed/medias/{{ product.metafields.my_fields.wistia_video_id_1 }}.jsonp" async></script>
                <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
                <div class="wistia_responsive_padding">
                  <div class="wistia_responsive_wrapper">
                    <div class="wistia_embed wistia_async_{{ product.metafields.my_fields.wistia_video_id_1 }} videoFoam=true"></div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}

          {% if product.metafields.my_fields.wistia_video_id_2 != blank %}
            <div>
              <div id="shade_video1">
                <script src="https://fast.wistia.com/embed/medias/{{ product.metafields.my_fields.wistia_video_id_2 }}.jsonp" async></script>
                <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
                <div class="wistia_responsive_padding">
                  <div class="wistia_responsive_wrapper">
                    <div class="wistia_embed wistia_async_{{ product.metafields.my_fields.wistia_video_id_2 }} videoFoam=true"></div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}

        </div>
        <!-- Media Gallery -->

        <!-- Media Gallery Nav -->
        {% if wistia_video_status == 1 or product.media.size > 1 %}
          <div class="slider-nav">

            {%- for media in product.media -%}
              {% if forloop.index != 0 %}
                {% if media.alt != 'hidden' %}
                  <div class="pro-thumb {% if forloop.index == 1 %}active{% endif %}">
                    <img src="{{ media | img_url: '100x' }}" loading="lazy" class="prd-nav" id="thumb_img" alt="img">
                  </div>
                {% endif %}
              {% endif %}
            {%- endfor -%}

            {% if product.metafields.my_fields.wistia_video_id_1 != blank %}
              <div class="video-cell pro-thumb {% if forloop.index == 1 %}active{% endif %}">
                <img src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/luxury-concealer-slide4.png?v=1632736348"
                     loading="lazy" class="prd-nav" alt="img">
              </div>
            {% endif %}

            {% if product.metafields.my_fields.wistia_video_id_2 != blank %}
              <div class="video-cell pro-thumb {% if forloop.index == 1 %}active{% endif %}">
                <img src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/luxury-concealer-slide4.png?v=1632736348"
                     loading="lazy" class="prd-nav" alt="img">
              </div>
            {% endif %}

          </div>
        {% endif %}
        <!-- Media Gallery Nav -->

        <!-- Shade Guide Nav -->
        <div class="clearall"></div>
        <div class="hide-mob">
          <a href="javascript:void(0);" class="hide-mob show_video shadeguide">SHADE GUIDE</a>
        </div>
        <!-- Shade Guide Nav -->
      </div>
      <!-- Left Content -->
      <!-- Add to Cart Content -->
      <div class="bnrCont">
        <div class="banner-cont-mob">

          <div class="bnr-header">
            <h1 class="fc-seo">{{ product.title }}</h1>
            <p><h2 class="fc-seo">A Concealer With Skin Care Formulated <br class="show-mob">For Women Over 40</h2></p>
          </div>

          <div class="prd-rat">
            <!-- Price -->
            <div class="bnr-pricing" {% if widget_version <> 'upsell-widget-control' %}style="display: none;"{% endif %}>
              {{product.price | money}}<span>{{product.compare_at_price | money}}</span>
            </div>
            <!-- Rating -->
            <div class="bnr-rating">
              <div class="yotpo bottomLine" data-product-id="{{ product.id }}"></div>
            </div>

            <!-- Shade Guide -->
            {% if product.options[1] == 'Shade' %}
              <a href="javascript:void(0);" class="shade-guid forMob show_video" >Shades Guide
                <img src="https://cdn.shopify.com/s/files/1/0549/5082/2118/files/play-icon.png?v=1632737133" loading="lazy">
              </a>
            {% endif %}
            <!-- Shade Guide -->
          </div>

          <!-- Money Back Slogan -->
          {% include 'widget-money-back-slogan' %}

          <!-- Product Desscription -->
          <div class="clearall"></div>
          <p class="bnr-para">
            Fièra Luxury Concealer is the only concealer of its kind for women over 40, providing
            all-day coverage that never gets cakey or settles into fine lines.
          </p>
          <p class="bnr-para">
            Plus working "behind the scenes" are premium skin care ingredients helping to reduce visible signs of
            aging and giving you firmer, healthier, and brighter looking skin.
          </p>



          <!-- Add to cart ACTIONS -->
          <a name="product-top" class="product-top" id="product-top"></a>
          {% if widget_version == 'upsell-widget-control' %}
          <!-- Controller -->
          <ul class="bnr-color bnr-color-main {{ widget_version }}" id="slct-pkg">

            {%- for variant in product.variants -%}
              <li class="{{ variant.title | remove: " "}} {% if forloop.index == 1 %}active{% endif %}" val="{{ variant.id }}" {% if variant.image != blank %} img_pos="{{forloop.index0}}" {% endif %}>
                <div class="color-box light"></div>
                <p>{{ variant.title }}</p>
              </li>
            {%- endfor -%}
          </ul>

          {% if product.tags contains 'pricedisplay' %}

            <div class="flex-container" style="justify-content: space-between;">
              <div class="flex-item">
                <p class="offr-prc"><span class="offr-prc">{{ product.price | money }}</span></p>
              </div>
              {% if product.compare_at_price_min > product.price %}
                <div class="flex-item">
                  <span style="font-size: 20px"><s>{{ product.compare_at_price_min | money }}</s></span>
                </div>
              {% endif %}
            </div>

          {%- endif -%}

          <div class="prod-selectBx">
            {% if product.variants.size > 0 and product.options[0] != 'Shade' %}
              {%- unless product.has_only_default_variant -%}
              <div class="product_variant">
                {%- for option in product.options_with_values -%}
                  {% if option.name == 'Quantity' %}
                  {%- for value in option.values -%}
                    <!-- Check to see if there's a product size option. If there is a size, check to see if there's any availble for purchase. If not, set the variat control in a "disabled" state. -->
                    {%- assign variant_label_state = true -%}

                    {%- if product.options.size == 1 -%}
                      {%- unless product.variants[forloop.index0].available -%}
                        {%- assign variant_label_state = false -%}
                      {%- endunless -%}
                    {%- endif -%}

                    <label class="pkg-select-col con-pkg pkg-select-col1 {% if forloop.index == 1 %}  active {% endif %}" id="{% if forloop.index == 1 %}conBuy3{%else %}conBuy1{% endif %}">

                    <div class="pkg-qty"> {{ value | escape }}</div>
                    {% if forloop.index == 1 %}
                      <p class="pkgmdl-txt1">Save 33%</p>
                    {% else %}
                      <p class="pkgmdl-txt1"></p>
                    {% endif %}

                    {% if forloop.index == 1 %}
                      <p class="pkgmdl-txt2">{{ product.price | times: 2 | money }}</p>
                    {% else %}
                      <p class="pkgmdl-txt2">{{ product.price | money }}</p>
                    {% endif %}
                    <input type="radio"
                       {% if option.selected_value == value %} checked="checked"{% endif %}
                       {% unless variant_label_state %} disabled="disabled"{% endunless %}
                       value="{{ value | escape }}"
                       class="pro_var con_var"
                       data-index="option{{ forloop.index }}"
                       dtaa-variant_id="{{ product.variants[forloop.index0].id }}"
                       name="{{ option.name | handleize }}"
                       id="ProductSelect-option-{{ option.name | handleize }}-{{ value | escape }}">
                    <span></span>
                    </label>

                  {%- endfor -%}
                {% endif %}
                {%- endfor -%}
              </div>
              {%- endunless -%}

            {% endif %}

            <div class="no-js-hidden" id="price-{{ section.id }}" style="padding: 20px 0; display: none">
              {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
            </div>

            <div class="combo-product-add-error"></div>
            {%- assign product_form_id = 'product-form-' | append: section.id -%}
              <noscript class="product-form__noscript-wrapper-{{ section.id }}">
                <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                  <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
                  <div class="select">
                    <select name="id" data-productid="{{ product.id }}" id="Variants-{{ section.id }}" class="select__select" form="product-form">
                      {%- for variant in product.variants -%}
                      <option
                              {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                              {% if variant.available == false %}disabled{% endif %}
                              value="{{ variant.id }}"
                              >
                        {{ variant.title }}
                        {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                            - {{ variant.price | money | strip_html }}
                      </option>
                      {%- endfor -%}
                    </select>
                    {% render 'icon-caret' %}
                  </div>
                </div>
              </noscript>

              <div>
                <form method="post" class="main_form" {% if settings.cart_type != 'drawer' %} action="/cart/add" {% endif %} data-productid="{{ product.id }}">
                  <a href="javascript:void(0);" class="addTocut-btn-popup {% if product.handle == 'fiera-luxury-concealer' %}pop-open_v5{% endif %} pop-open btn-green">{{ btn_title }}</a>
                </form>
              </div>
          </div>
          <!-- Controller -->

          {% else %}
          <!-- A/B Test -->
          <!-- Promotion Special -->
          {% if product.tags contains 'pricedisplay' %}
            <div class="flex-container" style="justify-content: space-between;">
              <div class="flex-item">
                <p class="offr-prc"><span class="offr-prc">{{ product.price | money }}</span></p>
              </div>
              {% if product.compare_at_price_min > product.price %}
                <div class="flex-item">
                  <span style="font-size: 20px"><s>{{ product.compare_at_price_min | money }}</s></span>
                </div>
              {% endif %}
            </div>
          {%- endif -%}

          <!-- List Purchase Options Form -->
          {%- for variant in product.variants -%}
            <input type="hidden" data-var-id="{{ variant.title }}" value="{{ variant.id}}" class="concealer-var">
          {%- endfor -%}

          <!-- Purchase Options -->
          <div class="prod-selectBx con-selectBx">
            <input type="hidden" class="con-set-var" value="">
            <input type="hidden" class="con-shade-var" value="">

            <!-- Product configurator -->
            <div class="product_variant package-container  {{ widget_version }}">

              {% comment %}For Widget Style 1{% endcomment %}
              {% if widget_version == 'upsell-widget-v1' %}
                <input type="hidden" id="fprice" name="fprice" value="{{ product.price | money }}" />

                <label class="package-box packg-1 active" id="buy1">
                  <div class="select_inner">
                    <input type="radio" checked="checked" value="buy1"  class="pro_var"
                           data-index="option1" name="variant" id="ProductSelect-option-variant-buy-1">
                    <span></span>

                    <div class="pkg-bottle"> Buy 1 Tube</div>
                    <p class="pack-save">&nbsp;</p>
                    <p class="rglr-prc con_var" pro-var-price="{{ product.price | money }}">{{ product.price | money }}</p>
                  </div>
                </label>

                <label class="package-box packg-2 " id="buy3">
                  <div class="select_inner">
                    <input type="radio"  value="buy3"  class="pro_var"
                           data-index="option2" name="variant" id="ProductSelect-option-variant-buy-3">
                    <span></span>

                    <div class="pkg-bottle">Buy 2 + Get 1 Free</div>
                    <p class="pack-save">Save 33%</p>
                    <p class="rglr-prc con_var" pro-var-price="{{ product.price | times: 2 | money }}">{{ product.price | times: 2 | money }}</p>
                  </div>
                </label>
              {%  endif %}

              {% comment %}For Widget Style 2{% endcomment %}
              {% if widget_version == 'upsell-widget-v2' %}
                <select name="bundle-options-1" class="bundle-options-selector bundle-options" style="display: block;">
                  <option value="buy1" selected data-price="{{ product.price | money }}"  class="pro_var active"
                          data-index="option1">Buy 1 Tube</option>
                  <option value="buy3" data-price="{{ product.price | times: 2 | money }}"  class="pro_var"
                          data-index="option2">Buy 2 + Get 1 Free</option>
                </select>
              {%  endif %}

            </div>

            <!-- Product configurator -->
            <!-- Color Swatches -->
            <ul class="bnr-color bnr-color-main" id="slct-pkg">

              {%- for variant in product.variants -%}
                <li class="{{ variant.title | remove: " "}}

                    {% if variant.title == 'Beige' %}active{% endif %}
                    "
                    val="{{ variant.id }}"
                    {% if variant.image != blank %} img_pos="{{forloop.index0}}" {% endif %}
                >
                  <div class="color-box light"></div>
                  <p>{{ variant.title }}</p>
                </li>
              {%- endfor -%}
            </ul>
            <!-- Color Swatches -->

            <!-- Color Swatches Buy 2 Edition -->
            <div class="bnr-color bnr-color-main" id="slct-multi-pkg" style="display: none; clear: both; padding-top: 10px">
              <select name="color-choice1" id="color-choice1" class="bundle-options bundle-variants Beige" style="display: block;">
                {%- for variant in product.variants -%}
                  <option value="{{ variant.id }}"
                          {% if variant.title == 'Beige' %}selected{% endif %}
                  >{{ variant.title }}</option>
                {%- endfor -%}
              </select>

              <select name="color-choice2" id="color-choice2" class="bundle-options-ex bundle-variants" style="display: block;">
                <option value="" >Select Shade #2</option>
                {%- for variant in product.variants -%}
                  <option value="{{ variant.id }}">{{ variant.title }}</option>
                {%- endfor -%}
              </select>

              <select name="color-choice3" id="color-choice3" class="bundle-options-ex bundle-variants" style="display: block;">
                <option value="" >Select Shade #3</option>
                {%- for variant in product.variants -%}
                  <option value="{{ variant.id }}">{{ variant.title }}</option>
                {%- endfor -%}
              </select>
            </div>
            <!-- Color Swatches Buy 2 Edition -->



            <!-- Add to Cart Message Container -->
            <div class="combo-product-add-error"></div>

            <!-- Add To Cart Button -->
            {%- assign product_form_id = 'product-form-' | append: section.id -%}

            <noscript class="product-form__noscript-wrapper-{{ section.id }}">
              <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
                <div class="select">
                  <select name="id" data-productid="{{ product.id }}" id="Variants-{{ section.id }}" class="select__select" form="product-form">
                    {%- for variant in product.variants -%}
                      <option
                          {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                        {% if variant.available == false %}disabled{% endif %}
                          value="{{ variant.id }}"
                      >
                        {{ variant.title }}
                        {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                        - {{ variant.price | money | strip_html }}
                      </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon-caret' %}
                </div>
              </div>
            </noscript>

            <div>
              <product-form class="product-form">
                <div class="product-form__error-message-wrapper" role="alert" hidden>
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                    <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                    <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                    <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                    <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                  </svg>
                  <span class="product-form__error-message"></span>
                </div>

                <form method="post" class="main_form" id="ajax_cart" {% if settings.cart_type != 'drawer' %} action="/cart/add" {% endif %} data-productid="{{ product.id }}">
                  <input name="quantity" value="1" class="quantity" type="hidden" />
                  <input name="id" value="{{ default_variant_selection }}" class="var_id" type="hidden" />
                  <a href="javascript:void(0);" data-variant-id="{{ default_variant_selection }}" class="{% if settings.cart_type == 'drawer' %}js-ajax-add-to-cart{% endif %} add-to-cart-btn-ex btn-green apple_cream_btn">Add To Cart</a>
                </form>
              </product-form>
            </div>
            <!-- Add To Cart Button -->

            <!-- Money Back Slogan -->
            {% include 'widget-money-back-slogan-after-cta' %}

          </div>
          <!-- Purchase Options -->
          <!-- A/B Test -->
          {%  endif %}

        </div>

        <!-- After Cart Banner -->
        {% include 'widget-add-to-cart-bottom-4-icons' %}
        <!-- After Cart Banner -->
      </div>
      <!-- Add to Cart Content -->
    </div>

  </div>
</div>

{% if widget_version == 'upsell-widget-control' %}
{% if product.options.size == 1 and product.options[0] == 'Shade' %}
  <div class="shade-popup" id="Pop1">
    <div class="popup-box">
      <p class="time_offer">Limited Time Offer</p>
      {% comment %}
        <h2 class="pop-hdng">BUY 2, GET 1 FREE <span class="pop-close">X</span></h2>
      {% endcomment %}

      <form method="post" class="main_form main_form_close popup_form" id="ajax_cart" {% if settings.cart_type != 'drawer' %} action="/cart/add"{% endif %} data-productid="{{ product.id }}">
        <input name="quantity" value="1" class="quantity" type="hidden" />
        <input name="id" value="{{ product.selected_or_first_available_variant.id }}" class="var_id" type="hidden" />
        <h2 class="pop-hdng">BUY 2, GET 1 FREE <input name="add" value="X" class="pop-close add_free_product {% if settings.cart_type == 'drawer' %}js-ajax-add-to-cart{% endif %}" type="button"></h2>
      </form>

      <div class="pop-mdl">
        <div class="alert alert-danger api-error shade-error" style="display:none">

        </div>
        <div class="main_box">
          <div class="already_txt">Already added to cart</div>
          <div class="main">
            {% comment %}
            <div class="left_side">
              <img src="{{ 'slide1_800x.webp' | asset_url  }}" height="150" width="150" class="lazy prd-img" id="thumb_img" alt="img">
            </div>
            {% endcomment %}
            <div class="main">
              <div class="left_side">
                <img src="{{ 'slide1_800x.webp' | asset_url  }}" height="300" width="150" loading="lazy" class="lazy prd-img" id="thumb_img" alt="img">
              </div>
              <div class="right_side">
                <p>{{product.title}}</p>
                <span class="price">{{product.price | money}}</span>
                <select name="offers" class="offers">
                  <option value="">Select Shade</option>
                  {%- for variant in product.variants -%}
                    <option data-color="colr{{ forloop.index }} color-{{ variant.title | handleize }}" value="{{ variant.id }}">{{ variant.title }}</option>
                  {%- endfor -%}
                </select>
                <ul class="bnr-color pop-slct-shade" id="slct-pkg">
                  {%- for variant in product.variants -%}
                    <li class="{{ variant.title | remove: " "}} {% if forloop.index == 1 %}active{% endif %}">
                      <a href="javascript:;" data-value="{{ variant.id }}">
                        <div class="color-box light"></div>
                        <p>{{ variant.title }}</p>
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>

            </div>
            <div class="full_wiget right_side">
              <p class="pop-txt1">Add 1 more Concealer to your cart and <span>GET ANOTHER FREE!</span></p>
            </div>
          </div>
          <div class="pop-slct">
            <div class="main">
              <div class="left_side">
                <p>{{product.title}}</p>
                <span class="price">{{product.price | money}}</span>
              </div>
              <div class="right_side">
                <select name="offers1" class="extra1">
                  <option value="">Select Shade</option>
                  {%- for variant in product.variants -%}
                    <option data-color="colr{{ forloop.index }} color-{{ variant.title | handleize }}" value="{{ variant.id }}">{{ variant.title }}</option>
                  {%- endfor -%}
                </select>
              </div>
            </div>
            <div class="main">
              <div class="left_side">
                <p>{{product.title}}</p>
                <span class="free_txt">FREE!</span>
              </div>
              <div class="right_side">
                <select name="offers2" class="extra1">
                  <option value="">Select Shade</option>
                  {%- for variant in product.variants -%}
                    <option data-color="colr{{ forloop.index }} color-{{ variant.title | handleize }}" value="{{ variant.id }}">{{ variant.title }}</option>
                  {%- endfor -%}
                </select>
              </div>
            </div>
          </div>
          <div class="bottomBtn">
            <form method="post" class="main_form popup_form" id="ajax_cart" {% if settings.cart_type != 'drawer' %} action="/cart/add"{% endif %} data-productid="{{ product.id }}">
              <input name="quantity" value="1" class="quantity" type="hidden" />
              <input name="id" value="{{ product.selected_or_first_available_variant.id }}" class="var_id" type="hidden" />
              <input name="add" value="No thanks" class="popup-close add_free_product {% if settings.cart_type == 'drawer' %}js-ajax-add-to-cart{% endif %}" type="button">
            </form>
            {% comment %}<a class="popup-close" href="#"></a>{% endcomment %}
            <input type="button" class="pop-chkbtn" id="cart_btn_mob" data-bundle-status="{{ bundle_status }}" value="{{ popup_btn_title }}">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{%  endif %}

<div class="forMob">
  <div id="call-btn" style="position: fixed; display: none;">
    <p>HASSLE FREE | CRUELTY FREE | PARABEN FREE</p>
    <a href="javascript:bookmarkscroll.scrollTo('product-top')" class="packageBtn">Buy Now</a>
  </div>
</div>

{% javascript %}
class ProductModal extends ModalDialog {
constructor() {
super();
}

hide() {
super.hide();
window.pauseAllMedia();
}

show(opener) {
super.show(opener);
this.showActiveMedia();
}

showActiveMedia() {
this.querySelectorAll(`[data-media-id]:not([data-media-id="${this.openedBy.getAttribute("data-media-id")}"])`).forEach((element) => {
element.classList.remove('active');
})
const activeMedia = this.querySelector(`[data-media-id="${this.openedBy.getAttribute("data-media-id")}"]`);
const activeMediaTemplate = activeMedia.querySelector('template');
const activeMediaContent = activeMediaTemplate ? activeMediaTemplate.content : null;
activeMedia.classList.add('active');
activeMedia.scrollIntoView();

const container = this.querySelector('[role="document"]');
container.scrollLeft = (activeMedia.width - container.clientWidth) / 2;

if (activeMedia.nodeName == 'DEFERRED-MEDIA' && activeMediaContent && activeMediaContent.querySelector('.js-youtube'))
activeMedia.loadContent();
}
}

customElements.define('product-modal', ProductModal);
{% endjavascript %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id" data-productid="{{ product.id }}"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }}"]') || document.querySelector('variant-selects[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function(event) {
      hiddenInput.value = event.currentTarget.value;
    });
  });
</script>

{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
{{ product.media | where: 'media_type', 'model' | json }}
</script>

  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ shop.url | append: product.url | json }},
    {%- if product.selected_or_first_available_variant.featured_media -%}
{%- assign media_size = product.selected_or_first_available_variant.featured_media.preview_image.width | append: 'x' -%}
    "image": [
    {{ product.selected_or_first_available_variant.featured_media | img_url: media_size | prepend: "https:" | json }}
    ],
    {%- endif -%}
    "description": {{ product.description | strip_html | json }},
    {%- if product.selected_or_first_available_variant.sku != blank -%}
    "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif -%}
    "brand": {
    "@type": "Thing",
    "name": {{ product.vendor | json }}
  },
  "offers": [
  {%- for variant in product.variants -%}
  {
    "@type" : "Offer",
    {%- if variant.sku != blank -%}
    "sku": {{ variant.sku | json }},
    {%- endif -%}
    "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
    "price" : {{ variant.price | divided_by: 100.00 | json }},
    "priceCurrency" : {{ cart.currency.iso_code | json }},
    "url" : {{ shop.url | append: variant.url | json }}
  }{% unless forloop.last %},{% endunless %}
  {%- endfor -%}
  ]
}
</script>

{% schema %}
{
"name": "t:sections.main-product.name",
"tag": "section",
"class": "product-section spaced-section",

"blocks": [
{
"type": "@app"
},
{
"type": "text",
"name": "t:sections.main-product.blocks.text.name",
"settings": [
{
"type": "text",
"id": "text",
"default": "Text block",
"label": "t:sections.main-product.blocks.text.settings.text.label"
},

{
"type": "select",
"id": "text_style",
"options": [
{
"value": "body",
"label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
},
{
"value": "subtitle",
"label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
},
{
"value": "uppercase",
"label": "t:sections.main-product.blocks.text.settings.text_style.options__3.label"
}
],
"default": "body",
"label": "t:sections.main-product.blocks.text.settings.text_style.label"
}
]
},
{
"type": "title",
"name": "t:sections.main-product.blocks.title.name",
"limit": 1
},
{
"type": "price",
"name": "t:sections.main-product.blocks.price.name",
"limit": 1
},
{
"type": "quantity_selector",
"name": "t:sections.main-product.blocks.quantity_selector.name",
"limit": 1
},
{
"type": "variant_picker",
"name": "t:sections.main-product.blocks.variant_picker.name",
"limit": 1,
"settings": [
{
"type": "select",
"id": "picker_type",
"options": [
{
"value": "dropdown",
"label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
},
{
"value": "button",
"label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
}
],
"default": "button",
"label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
}
]
},
{
"type": "buy_buttons",
"name": "t:sections.main-product.blocks.buy_buttons.name",
"limit": 1,
"settings": [
{
"type": "checkbox",
"id": "show_dynamic_checkout",
"default": true,
"label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
"info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
}
]
},
{
"type": "description",
"name": "t:sections.main-product.blocks.description.name",
"limit": 1
},
{
"type": "share",
"name": "t:sections.main-product.blocks.share.name",
"limit": 1,
"settings": [
{
"type": "text",
"id": "share_label",
"label": "t:sections.main-product.blocks.share.settings.text.label",
"default": "Share"
},
{
"type": "paragraph",
"content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
},
{
"type": "paragraph",
"content": "t:sections.main-product.blocks.share.settings.title_info.content"
}
]
},
{
"type": "extra_features",
"name": "Extra Features",
"limit": 1,
"settings": [
{
"type": "header",
"content": "Feature 1"
},
{
"type": "textarea",
"id": "title_1",
"label": "Title"
},
{
"type": "image_picker",
"id": "image_1",
"label": "Image"
},
{
"type": "header",
"content": "Feature 2"
},
{
"type": "textarea",
"id": "title_2",
"label": "Title"
},
{
"type": "image_picker",
"id": "image_2",
"label": "Image"
},
{
"type": "header",
"content": "Feature 3"
},
{
"type": "textarea",
"id": "title_3",
"label": "Title"
},
{
"type": "image_picker",
"id": "image_3",
"label": "Image"
},
{
"type": "header",
"content": "Feature 4"
},
{
"type": "textarea",
"id": "title_4",
"label": "Title"
},
{
"type": "image_picker",
"id": "image_4",
"label": "Image"
}
]
},
{
"type": "custom_liquid",
"name": "t:sections.main-product.blocks.custom_liquid.name",
"settings": [
{
"type": "liquid",
"id": "custom_liquid",
"label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
"info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
}
]
},
{
"type": "collapsible_tab",
"name": "t:sections.main-product.blocks.collapsible_tab.name",
"settings": [
{
"type": "text",
"id": "heading",
"default": "Collapsible tab",
"info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
},
{
"type": "richtext",
"id": "content",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
},
{
"type": "page",
"id": "page",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
},
{
"type": "select",
"id": "icon",
"options": [
{
"value": "none",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
},
{
"value": "box",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
},
{
"value": "chat_bubble",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
},
{
"value": "check_mark",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
},
{
"value": "dryer",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
},
{
"value": "eye",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
},
{
"value": "heart",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
},
{
"value": "iron",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
},
{
"value": "leaf",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
},
{
"value": "leather",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
},
{
"value": "lock",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
},
{
"value": "map_pin",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
},
{
"value": "pants",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
},
{
"value": "plane",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
},
{
"value": "price_tag",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
},
{
"value": "question_mark",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
},
{
"value": "return",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
},
{
"value": "ruler",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
},
{
"value": "shirt",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
},
{
"value": "shoe",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
},
{
"value": "silhouette",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
},
{
"value": "star",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
},
{
"value": "truck",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
},
{
"value": "washing",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
}
],
"default": "check_mark",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
}
]
},
{
"type": "popup",
"name": "t:sections.main-product.blocks.popup.name",
"settings": [
{
"type": "text",
"id": "text",
"default": "Pop-up link text",
"label": "t:sections.main-product.blocks.popup.settings.link_label.label"
},
{
"id": "page",
"type": "page",
"label": "t:sections.main-product.blocks.popup.settings.page.label"
}
]
},

{
"type": "rating",
"name": "t:sections.main-product.blocks.rating.name",
"limit": 1,
"settings": [
{
"type": "paragraph",
"content": "t:sections.main-product.blocks.rating.settings.paragraph.content"
}
]
}
],
"settings": [
{
"type": "checkbox",
"id": "review_active",
"default": true,
"label": "Review Active"
},


{
"type": "product",
"id": "product_main",
"label": "Product"
},

{
"type": "checkbox",
"id": "enable_sticky_info",
"default": true,
"label": "t:sections.main-product.settings.enable_sticky_info.label"
},
{
"type": "header",
"content": "t:sections.main-product.settings.header.content",
"info": "t:sections.main-product.settings.header.info"
},
{
"type": "checkbox",
"id": "hide_variants",
"default": false,
"label": "t:sections.main-product.settings.hide_variants.label"
},
{
"type": "checkbox",
"id": "enable_video_looping",
"default": false,
"label": "t:sections.main-product.settings.enable_video_looping.label"
}
]
}
{% endschema %}
<style>
    .flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .flex-item {
        align-self: center;
    }
    .offr-prc {
        margin-top: 8px;
    }
    .offr-prc {
        color: #333333;
        font-size: 18px;
        margin-top: 25px;
        margin-bottom: 10px;
        display: inline-block;
    }
    .offr-prc span {
        font-weight: 600;
        font-size: 30px;
    }
    s, strike {
        text-decoration: none;
        position: relative;
    }
    s::before, strike::before {
        top: 50%;
        background: red;
        opacity: .7;
        content: '';
        width: 110%;
        position: absolute;
        height: .1em;
        border-radius: .1em;
        left: -5%;
        white-space: nowrap;
        display: block;
        transform: rotate(-15deg);
    }
    ul.bnr-color li.Light .color-box { background:#efd1c1;}
    ul.bnr-color li.Beige .color-box {background:#dcbeb3;}
    ul.bnr-color li.Medium .color-box {background:#cc9f89;}
    ul.bnr-color li.Deep .color-box {background:#a77a64;}
    ul.bnr-color li.Dark .color-box {background:#815a4b;}
    select.bundle-options {
        border-radius: 0;
        height: 40px;
        background: url(https://cdn.shopify.com/s/files/1/0549/5082/2118/files/pop-dwn.png?v=1632477592) no-repeat 95% center #f7f7f7 !important;
        margin: 10px 0 0;
        font-family: Organica;
        font-size: 16px;
        /*nt-weight: 700;*/
        color: #000;
        padding: 0 10px;
        border: solid 2px #e1d6cd;
        -webkit-appearance: none;
        width:100%;
        cursor:pointer;
    }

    select.bundle-options-ex {
        border-radius: 0;
        height: 40px;
        background: url(https://cdn.shopify.com/s/files/1/0549/5082/2118/files/pop-dwn.png?v=1632477592) no-repeat 95% center #f7f7f7 !important;
        margin: 10px 0 0;
        font-family: Organica;
        font-size: 16px;
        color: #000;
        padding: 0 10px;
        border: solid 2px #e1d6cd;
        -webkit-appearance: none;
        width:100%;
        cursor:pointer;
    }

    select.error {
        border-color: #FF0000;
        color: #FF0000;
    }

    .product-form__error-message-wrapper svg {
        margin-top: 3px !important;
    }

    .product-form__error-message-wrapper:not([hidden]) {
        display: flex;
        align-items: flex-start;
        font-size: 1.2rem;
        margin-top: 1.5rem !important;
        margin-bottom: 0 !important;
        color: #FF0000;
    }

    .pkg-bottle {
        margin-top: 0px !important;
    }

    ul.bnr-color li.isDisabled .color-box {
        border: unset;
    }

    ul.bnr-color li.isDisabled p {
        font-weight: unset !important;
    }

    select.bundle-variants.Light {
        background-image: none;
        background-color: #efd1c1 !important;
    }
    select.bundle-variants.Beige {
        background-image: none;
        background-color: #dcbeb3 !important;
    }
    select.bundle-variants.Medium {
        background-image: none;
        background-color: #cc9f89 !important;
    }
    select.bundle-variants.Deep {
        background-image: none;
        background-color: #a77a64 !important;
    }
    select.bundle-variants.Dark {
        background-image: none;
        background-color: #815a4b !important;
    }

    .bnr-mbg {
        background: #56ffff;
    }

    .add-to-cart-btn-ex {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        background: #313b54;
        font-size: 24px;
        height: 55px;
        line-height: 55px;
        font-weight: 600;
        color: #fff;
        margin-top: 25px;
        letter-spacing: .5px;
        text-align: center;
    }
    .add-to-cart-btn-ex.btn-green.apple_cream_btn {background: #50624a !important;border-color: #50624a !important; text-transform: uppercase;}
    video {
        float: left;
        width: 44%;
    }
    .step_img video {
        width: 100%;
    }
    @media only screen and (max-width: 767px) {
      video {
          width: 100%;
      }
    }
</style>
<script type="text/javascript">

  $(document).on("click",".addTocut-btn",function(e){
    e.preventDefault();
    const formID = $(this).closest('form').attr('id');

    {% if settings.cart_type != 'drawer' %}

    var total_items = '';


    var getQty = $('.totalqty').val();

    if(getQty == 3 && $('#conBuy3').hasClass("active")){

      var item_array = [];
      var formserdata = $('#' + formID).find('input[type="hidden"], select').serializeArray();
      var selling_plan = $('.rc-selling-plans__dropdown').serializeArray();
//       console.log(formserdata);
      var data = {};
      $(formserdata).each(function(index, obj){
        data[obj.name] = obj.value;
      });

      var vardataitem = [];
      $( ".hiddenqty" ).each(function( index ){
        var qty = $( this ).val();

        if(qty != 0)
        {
          var variant_id = $(this).attr('data-varid');
          if(selling_plan != ''){
            item_array.push({'id':variant_id,'quantity':qty, 'selling_plan':selling_plan[0]['value']});
          }
          else{
            item_array.push({'id':variant_id,'quantity':qty });
          }
          vardataitem.push(variant_id);
        }

      });

      $('.con-var-qty').val(0);

      if($(".def-rad").is(':checked')){
        item_array.push({'id':'42406289342694','quantity':'1'});
      }

      localStorage.setItem("buy3dataitem", JSON.stringify(vardataitem));

      jQuery.post('/cart/add.js',{items:item_array});
      setTimeout(function() {  $('.main_form').unbind('submit').submit(); }, 2000);
    }
    else{

      var item_array1 = [];
      $( ".quantity-selector" ).each(function( index ){
        var qty = $( this ).val();
        var variant_id = $(this).attr('dtaa-variant_id');
        if(qty != 0)
        {
          item_array1.push({'id':variant_id,'quantity':qty});
        }

      });


      if($(".def-rad").is(':checked')){
        item_array1.push({'id':'42406289342694','quantity':'1'});
      }

      if($(".def-rad-apple").is(':checked')){
        item_array1.push({'id':'42406233899238','quantity':'1'});
      }

      jQuery.post('/cart/add.js',{items:item_array1});
      setTimeout(function() {  $('.main_form').unbind('submit').submit(); }, 2000);
    }

//     console.log(item_array);

    {% endif %}

  });

</script>

<script>
  $(document).ready(function(){
    $('.concealer-add').addClass('concealer-buy3');
    setTimeout(function() {
      if ($('.concealer-buy3').hasClass("js-ajax-add-to-cart")) {
        $('.con-var-id').val(' ');
      }
    }, 1000);

    var conSet= $('.con-pkg.active .con_var').val();
    var conShadeSet= $('.con-shade.active .shade-name').html();

    $('.con-set-var').val(conSet);
    $('.con-shade-var').val(conShadeSet);
  });

  $('.con-pkg').on("click", function(){
    $('.con-set-var').val($(this).find('.con_var').val());
    var conShadeVar = $('.con-shade-var').val();
    if(conShadeVar) {
      var finalConVal = $(this).find('.con_var').val()+' / '+conShadeVar ;
      var finalVarVal = $('.concealer-var[data-var-id="'+finalConVal+'"]').val();
      $('.con-var-id').val(finalVarVal);
      $('.kon-var-id').val(finalVarVal);
    }
  });

  $('.con-shade').on("click", function(){
    var shadeName = $(this).find('.shade-name').html();
    $('.con-shade-var').val(shadeName);
    var con_var = $('.con-set-var').val();
    var finalConVal = con_var+' / '+shadeName;
    var finalVarVal =$('.concealer-var[data-var-id="'+finalConVal+'"]').val();
    $('.con-var-id').val(finalVarVal);
    $('.kon-var-id').val(finalVarVal);
  });

  if ($('#conBuy3').hasClass("active")) {
    var totalqty = 0;
    $('.increment-btn1').click(function (e) {
      e.preventDefault();

      $('.add-btn-error').html('');
      totalqty++;
      $('.totalqty').val(totalqty);
      var getqty = $('.totalqty').val();
      if (totalqty < 3) {
        $('.concealer-buy3').prop('disabled', true);
        $('.concealer-buy3').addClass('concealer-disabled');
      }

      if (totalqty == 3) {
        $('.concealer-buy3').prop('disabled', false);
        $('.concealer-buy3').removeClass('concealer-disabled');
      }

      if(totalqty < 4) {
        var incre_value1 = $(this).parents('.quantity').find('.hiddenqty').val();
        var inval = parseInt(incre_value1) + 1;

        $(this).parents('.quantity').find('.hiddenqty').val(inval);

        var incre_value = $(this).parents('.quantity').find('.quantity-selector').val();
        var value = parseInt(incre_value, 10);
        value = isNaN(value) ? 0 : value;
        if (value<10) {
          value++;
          $(this).parents('.quantity').find('.quantity-selector').val(value);
        }
      } else {
        $('.totalqty').val('3');
        totalqty = 3;

        $('.qtyerror').html("Only 3 products can be selected");
        $('.concealer-buy3').removeClass('concealer-disabled');
      }
    });

    $('.decrement-btn1').click(function (e) {
      e.preventDefault();

      var decre_value1 = $(this).parents('.quantity').find('.hiddenqty').val();
      var inval = parseInt(decre_value1);

      if (inval > 0) {
        totalqty--;
        $('.qtyerror').html('');

        var getqty = $('.totalqty').val();
        var total_qty = parseInt(getqty);

        total_qty--;

        $('.totalqty').val(totalqty);

        if(total_qty < 4) {
          $('.concealer-buy3').prop('disabled', true);
          $('.concealer-buy3').addClass('concealer-disabled');
        }

        inval--;

        $(this).parents('.quantity').find('.hiddenqty').val(inval);

        var decre_value = $(this).parents('.quantity').find('.quantity-selector').val();
        var value = parseInt(decre_value, 10);

        value = isNaN(value) ? 0 : value;
        if(value >= 1){
          value--;
          $(this).parents('.quantity').find('.quantity-selector').val(value);
        }
      }
    });
  }

  $('#conBuy1').click(function (e) {
    $('.qty-div').hide();
    $('.concealer-add').removeClass('concealer-buy3');
    $('.concealer-add').prop('disabled', false);
    $('.concealer-add').removeClass('concealer-disabled');

    $('.add-btn-error').html(' ');
    $('.hiddenqty').val(0);
    $('.totalqty').val(0);
    $('.quantity-selector').val(0);

    $('.qtyerror').html(' ');
    totalqty = 0;
  });

  $('#conBuy3').click(function (e) {

    $('.qty-div').show();
    $('.concealer-add').addClass('concealer-buy3');
    $('.add-btn-error').html(' ');

    if ($('.totalqty').val() < 3 || $('.totalqty').val() == 'null') {
      $('.concealer-buy3').prop('disabled', true);
      $('.concealer-buy3').addClass('concealer-disabled');
    }
  });

  $(document).scroll(function() {
    var $elem = $('.footer');
    var $window = $(window);

    var docViewTop = $window.scrollTop();
    var docViewBottom = docViewTop + $window.height();

    var elemTop = $elem.offset().top;
    var elemBottom = elemTop + $elem.height();

    if (elemTop >= (docViewBottom + 20) || (elemTop + $('#call-btn').height()) >= (docViewBottom + 100) ) {
      $('#call-btn').css('position', 'fixed');
    } else {
      $('#call-btn').css({'position' : 'relative'});

    }

    var winscroll = $(window).scrollTop()
    var scrlCp = $('.bannar-sec').offset().top - 1000;
    var scrlCp2 = $('.section1').offset().top - 0;
    console.log(winscroll);
    console.log(scrlCp);
    console.log(scrlCp2);
    if(winscroll == 0 ){
      $('#call-btn').fadeOut();
    }
    else if (winscroll > scrlCp  && winscroll < scrlCp2 ){
      $('#call-btn').fadeOut();
    }else{
      $('#call-btn').fadeIn();
    }
  });
</script>


<script type="text/javascript">
  $(document).ready(function(e) {

    $('.s3-slider').imagesLoaded( function() {
      $(".s3-slider").twentytwenty({
        default_offset_pct: 0.5
      });
    });

    $('.s2-slider').slick({
      slidesToShow:3,
      slidesToScroll: 1,
      dots: false,
      centerMode: false,
      arrows: true,
      responsive: [
        {
          breakpoint: 767,
          settings: {
            slidesToShow:1,
            slidesToScroll: 1,
          }
        }
      ]
    });

    $('.s11-slide-div').slick({
      slidesToShow: 5,
      slidesToScroll: 1,
      autoplay: false,
      arrows: false,
      dots: false,
      variableWidth: true,
      centerMode: false,
      autoplaySpeed: 11000,
      responsive: [
        {
          breakpoint: 1030,
          settings: {
            variableWidth: false,
          }
        },
        {
          breakpoint: 767,
          settings: {
            variableWidth: false,
            slidesToShow:2,
            slidesToScroll: 1,
          }
        }
      ]
    });
  });

  {% if widget_version == 'upsell-widget-control' %}
  {% assign current_variant = product.selected_or_first_available_variant %}
  $(document).ready(function() {

    var first_time = $('.bnr-color').find('.Light').attr('val');
    var default_variant = '{{ current_variant.id }}';
    $('.pop-slct').find('[name="offers"]').addClass('colr1 color-light');
    $('.right_side').find('[name="offers"]').val(first_time).change();
    //console.log(first_time);
    $(document).on("click",".bnr-color-main li",function() {
      var var_id = $(this).attr('val');
      var var_text = $(this).find('p').text();

      if(var_text == 'Light'){

        $('.pop-slct').find('[name="offers"]').removeClass('colr2 color-beige');
        $('.pop-slct').find('[name="offers"]').removeClass('colr3 color-medium');
        $('.pop-slct').find('[name="offers"]').removeClass('colr4 color-deep');
        $('.pop-slct').find('[name="offers"]').removeClass('colr5 color-dark');
        $('.pop-slct').find('[name="offers"]').addClass('colr1 color-light');
        $('.popup-box').find('ul li').removeClass('active');
        $('.popup-box').find('ul .Light').addClass('active');

        $('.right_side').find('[name="offers"]').val(var_id).change();

      }
      if(var_text == 'Beige'){

        $('.pop-slct').find('[name="offers"]').removeClass('colr1 color-light');
        $('.pop-slct').find('[name="offers"]').removeClass('colr3 color-medium');
        $('.pop-slct').find('[name="offers"]').removeClass('colr4 color-deep');
        $('.pop-slct').find('[name="offers"]').removeClass('colr5 color-dark');

        $('.pop-slct').find('[name="offers"]').addClass('colr2 color-beige');
        $('.popup-box').find('ul li').removeClass('active');
        $('.popup-box').find('ul .Beige').addClass('active');
        $('.right_side').find('[name="offers"]').val(var_id).change();
      }
      if(var_text == 'Medium'){

        $('.pop-slct').find('[name="offers"]').removeClass('colr1 color-light');
        $('.pop-slct').find('[name="offers"]').removeClass('colr2 color-beige');
        $('.pop-slct').find('[name="offers"]').removeClass('colr4 color-deep');
        $('.pop-slct').find('[name="offers"]').removeClass('colr5 color-dark');

        $('.pop-slct').find('[name="offers"]').addClass('colr3 color-medium');
        $('.popup-box').find('ul li').removeClass('active');
        $('.popup-box').find('ul .Medium').addClass('active');
        $('.right_side').find('[name="offers"]').val(var_id).change();

      }
      if(var_text == 'Deep'){

        $('.pop-slct').find('[name="offers"]').removeClass('colr1 color-light');
        $('.pop-slct').find('[name="offers"]').removeClass('colr2 color-beige');
        $('.pop-slct').find('[name="offers"]').removeClass('colr3 color-medium');
        $('.pop-slct').find('[name="offers"]').removeClass('colr5 color-dark');

        $('.pop-slct').find('[name="offers"]').addClass('colr4 color-deep');
        $('.popup-box').find('ul li').removeClass('active');
        $('.popup-box').find('ul .Deep').addClass('active');
        $('.right_side').find('[name="offers"]').val(var_id).change();
      }
      if(var_text == 'Dark'){

        $('.pop-slct').find('[name="offers"]').removeClass('colr1 color-light');
        $('.pop-slct').find('[name="offers"]').removeClass('colr2 color-beige');
        $('.pop-slct').find('[name="offers"]').removeClass('colr3 color-medium');
        $('.pop-slct').find('[name="offers"]').removeClass('colr4 color-deep');

        $('.pop-slct').find('[name="offers"]').addClass('colr5 color-dark');
        $('.popup-box').find('ul li').removeClass('active');
        $('.popup-box').find('ul .Dark').addClass('active');
        $('.right_side').find('[name="offers"]').val(var_id).change();
      }
      $('.var_id').val(var_id);
      $('.bnr-color-main li').removeClass('active');
      $(this).addClass('active');
      var var_img_pos = $(this).attr('img_pos');
      if(var_img_pos != undefined){
        $('.slide-div').slick('slickGoTo', var_img_pos);
      }
    });

    $('.offers').change (function () {
      var val = $(this).find("option:selected").text();

      $('.popup-box').find('ul li').removeClass('active');
      console.log($('.popup-box').find('ul .'+val+'').addClass('active'));

    });

    // KL: Set the default variant if any
    if (default_variant.length > 0) {
      $('.bnr-color-main li[val="' + default_variant + '"]').click();
    }
  });
  {% else %}
  $(document).ready(function() {

    var first_time = $('.bnr-color').find('.Light').attr('val');
    $('.pop-slct').find('[name="offers"]').addClass('colr1 color-light');
    $('.right_side').find('[name="offers"]').val(first_time).change();

    $(document).on("click",".bnr-color-main li",function() {
      if ($('#ProductSelect-option-variant-buy-3').is(":checked") ||
          $('select.bundle-options-selector').val() === 'buy3'
      ) {
        $('#slct-pkg li').addClass('isDisabled');
      } else {
        var var_id = $(this).attr('val');
        var var_text = $(this).find('p').text();

        // KL: Set the add to cart value
        $('.add-to-cart-btn').attr('data-variant-id', var_id);
        $('.add-to-cart-btn-ex').attr('data-variant-id', var_id);
        $('.var_id').val(var_id);
        $('#slct-pkg li').removeClass('active');
        $('#slct-pkg li').removeClass('isDisabled');
        $(this).addClass('active');
        var var_img_pos = $(this).attr('img_pos');
        if (var_img_pos != undefined) {
          $('.slide-div').slick('slickGoTo', var_img_pos);
        }

        // KL: Make sure we sync the option to Buy3
        $('#color-choice1').val(var_id).change();
      }
    });

    $(document).on("change","#color-choice1",function() {
        if ($('#ProductSelect-option-variant-buy-3').is(":checked") ||
            $('select.bundle-options-selector').val() === 'buy3'
        ) {
          var swatch_val = $(this).val();
          var target = $('.bnr-color-main li[val="' + swatch_val + '"]');
          var val = target.val();
          var var_id = target.attr('val');
          var var_text = target.find('p').text();

          // KL: Set the add to cart value
          $('.add-to-cart-btn').attr('data-variant-id', var_id);
          $('.add-to-cart-btn-ex').attr('data-variant-id', var_id);
          $('.var_id').val(var_id);
          $('#slct-pkg li').removeClass('active');
          $('#slct-pkg li').removeClass('isDisabled');
          target.addClass('active');
        }
    });

    $('.offers').change (function () {
      var val = $(this).find("option:selected").text();

      $('.popup-box').find('ul li').removeClass('active');
      console.log($('.popup-box').find('ul .'+val+'').addClass('active'));

    });
  });
  {%  endif %}

</script>

<script type="text/javascript">
  var _learnq1 = _learnq1 || [];
  var classname1 = document.getElementsByClassName("addTocut-btn");
  var addToCart1 = function() {
    _learnq1.push(['track', 'Added to Cart', item]);
  };

  for (var i = 0; i < classname1.length; i++) {
    classname1[i].addEventListener('click', addToCart1, false);
  }
</script>